
{% extends 'base.html.twig' %}

{% block title %}
    Tous les accounts de Steam-Ish
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Nickname</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.nickname }}</td>
                    <td>
                        <a href="{{ path('index_librarie', {'id': account.id}) }}">Voir la bibliothèque de jeux</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
