
{% extends 'base.html.twig' %}

{% block title %}
    Account de {{ account.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for library in libraries %}
                <tr>
                    <td>{{ library.game.name }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}